<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start page for Flask based ticker app">
    <meta name="author" content="@Riggs">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Ticker plotter</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Ticker Lookup Demo</h1>
        <div class=metanav>
            <form id='userinfoform' method='post' action='/' >
              <p>
            Ticker Symbol: <input type='text' name='ticker' />
              </p>
              <div>
                <input type="checkbox" id="Closing Price" name="close" value="on">
                <label for="Closing Price">Closing Price</label>
              </div>
              <div>
                <input type="checkbox" id="Adj Closing Price" name="adj_close" value="on">
                <label for="Adj Closing Price">Adjusted Closing Price</label>
              </div>
              <div>
                <input type="checkbox" id="Opening Price" name="open" value="on">
                <label for="Opening Price">Opening Price</label>
              </div>
              <div>
                <input type="checkbox" id="Adj Opening Price" name="adj_open" value="on">
                <label for="Adj Opening Price Price">Adjusted Opening Price</label>
              </div>
              <p>
            <input type='submit' value='Submit' />
              </p>
            </form>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
